.create__events .create__event {
  width: 600px;
  margin: auto;
  padding-bottom: 40px;
}
.create__event .cover__image {
  position: relative;
}
.create__event .cover__image img {
  width: 100%;
}
.create__event .cover__image div {
  font-family: var(--primary-font);
  font-size: 14px;
  display: flex;
  padding: 12px 30px;
  border-radius: 4px;
  border: 1px solid var(--white-color);
  background-color: var(--text-color);
  color: var(--whitish-color);
  width: 250px;
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.create__event .event__details {
  margin-top: 40px;
}
.create__event .event__details .event__name {
  font-size: 40px;
  height: 50px;
  border: 0;
  border-bottom: 1px solid var(--primary-color);
  border-radius: 0;
  font-weight: 600;
}

.events__page .events .head {
  margin-bottom: 10px;
}
.events__page .events .head h5 {
  font-family: var(--secondary-font);
  font-size: 15px;
  font-weight: 600;
}
.events__page .events .head button i {
  margin-right: 10px;
}
.events__page .event {
  font-family: var(--primary-font);
  padding: 20px 20px 10px;
  cursor: pointer;
  /* color: red; */
}
.events__page .event .event__head img {
  border-radius: 4px;
}
.events__page .event .event__head h5 {
  font-size: 14px;
  line-height: 10px;
  margin-top: 20px;
  color: var(--primary-color);
}
.events__page .event .event__head p {
  font-size: 12px;
  color: var(--text-color);
}
.events__page .event .event__details p {
  margin-right: 20px;
  font-size: 12px;
  color: var(--text-color);
}
.events__page .event .event__details p i {
  margin-right: 5px;
}

/* Single event styles */
.single__event .event__head .details h5 {
  font-size: 18px;
  font-weight: 700;
}
.single__event .event__head .details p, .single__event .event__head .shareable__link p {
  font-size: 14px;
  color: var(--text-color);
  line-height: 10px;
}
.single__event .event__head .shareable__link .link {
  border: 1px solid var(--text-color);
  border-radius: 4px;
  padding: 4px 10px;
  font-size: 12px;
}
.single__event .event__head .shareable__link .link span {
  margin-bottom: 3px;
  color: var(--text-color);
}
.single__event .event__head .shareable__link .link i {
  cursor: pointer;
}
.single__event .event__navigation {
  margin: 20px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  /* gap: 40px; */
}
.single__event .event__navigation a {
  color: var(--text-color);
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-weight: 600;
}
.single__event .event__navigation .active__link {
  color: var(--tertiary-color);
  border-bottom: 3px solid var(--tertiary-color);
}
.single__event .event__navigation a i {
  margin-right: 10px;
}
